.label-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
  padding: 1rem 0;
  cursor: pointer;

  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;

    &::before,
    &::after {
      content: " ";
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.3125rem;
      position: relative;
      transition: 0.3s;
    }
  }
}

.menu-bar:checked ~ .label-menu .hamburger {
  border-top-color: transparent;
}
.menu-bar:checked ~ .label-menu .hamburger::before {
  transform: rotate(135deg);
}
.menu-bar:checked ~ .label-menu .hamburger::after {
  transform: rotate(-135deg);
  top: -0.4375rem;
}
