
.label-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--white);
  padding: 16px 0;
  box-sizing: border-box;
  cursor: pointer;

  .hamburger {
    border-top: 2px solid;
    width: 20px;

    &::before,
    &::after {
      content: " ";
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      position: relative;
      transition: 0.3s;
    }
  }
}

.menu-bar:checked ~ .label-menu .hamburger {
  border-top-color: transparent;
}
.menu-bar:checked ~ .label-menu .hamburger::before {
  transform: rotate(135deg);
}
.menu-bar:checked ~ .label-menu .hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}
