header{
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    padding: 0 1%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;

    @media screen and (max-width:991px) {
        padding: 20px;
    }

    .logo{
        font-weight: 700;
        font-size: 25px;
        color: #333;
    }

    
}