* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #e7e7e7;
}

header {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 0 1%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}
@media screen and (max-width: 991px) {
  header {
    padding: 20px;
  }
}
header .logo {
  font-weight: 700;
  font-size: 25px;
  color: #333;
}

button {
  background: transparent;
  border: none;
}

/* button one */
.button-one {
  --button-color: #333;
}

.button-one .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}

.button-one[aria-expanded=true] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.button-one[aria-expanded=true] :is(.top, .bottom) {
  y: 45;
}

.button-one[aria-expanded=true] .top {
  rotate: 45deg;
}

.button-one[aria-expanded=true] .middle {
  opacity: 0;
}

.button-one[aria-expanded=true] .bottom {
  rotate: -45deg;
}

header .menu-bar {
  display: none;
}
@media screen and (max-width: 991px) {
  header .menu-bar:checked ~ .navbar {
    visibility: initial;
    height: 100vh;
  }
}
header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 991px) {
  header label {
    display: initial;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 360px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    visibility: hidden;
    overflow-y: hidden;
    transition: 300ms;
    height: 0;
  }
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  position: relative;
  float: left;
}
@media screen and (max-width: 991px) {
  .navbar ul li {
    width: 100%;
  }
}
.navbar ul li a {
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  color: #333;
  display: block;
  text-decoration: none;
}
.navbar ul li a:hover {
  background-color: #333;
  color: #fff;
}
.navbar ul li ul {
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 200px;
  display: none;
}
@media screen and (max-width: 991px) {
  .navbar ul li ul {
    position: relative;
    width: 100%;
  }
}
.navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 991px) {
  .navbar ul li ul li {
    background-color: #ccc;
  }
}
.navbar ul li ul li ul {
  left: 200px;
  top: 0;
}
@media screen and (max-width: 991px) {
  .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 991px) {
  .navbar ul li ul li ul li {
    background-color: #eee;
  }
}
@media screen and (min-width: 992px) {
  .navbar ul li:focus-within > ul, .navbar ul li:hover > ul {
    display: initial;
    visibility: visible;
  }
}
@media screen and (max-width: 991px) {
  .navbar ul li:focus-within > ul {
    display: initial;
    visibility: visible;
  }
}/*# sourceMappingURL=style.css.map */